<!-- IMPORTANT NOTE: make sure to set enctype="multipart/form-data" to save user uploaded images on site
       make sure to update backend by going into specific methods in the views.py and adding request.FILES
       to the form variable once it is POSTED to make sure it actually saves in the database -->

{% extends 'main.html' %}

{% block content %}
<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i></a>
            <br>
            <form class="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Input:Text | use a for loop to access all the form fields -->
                {% for field in form %}
                <div class="form__field">
                    <label>{{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}

                <div class="form__field">
                    <label >Tags</label>
                    <textarea name="newTags" placeholder="Add Tags Here..." class="input"></textarea>
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Add Project" />
            </form>
        </div>
    </div>
</main>
{% endblock %}