{% extends 'main.html' %}
{% block content %}

    <!-- Make sure I added the correct settings in settings.py and urls.py in project folder to get it to display-->
    <img  style="max-width: 500px" src="{{projectObj.featured_image.url}}">

    <h1>Testing out the projects template with pk</h1>
    <p> Name: {{ projectObj.title }} </p>
    <p> Date Created: {{ projectObj.created }} </p>
    <p> ID: {{ projectObj.id }} </p>
    <p>Description: {{ projectObj.description }}</p>

    <!-- I can call the method directly in the html template instead of passing in context variable-->
    {% for tag in projectObj.tags.all %}
        <span style="border:1px solid grey">{{tag}}</span>
    {% endfor %}

{% endblock content %}